
<div class="about">
<!-- <h1 >About Us</h1> -->
</div>


<div class="row">
    <div class="col-4">
        <img src="../assets/17.jpg" alt="">
    </div>
    <div class="col-7">
        <h1 >About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo consectetur nulla placeat officiis dolorem! Quaerat accusamus tenetur possimus expedita laudantium doloremque, ratione cumque, sed quo eveniet iusto, obcaecati quod. Placeat. ipsum dolue harum natus quo vero aspernatur! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat ducimus error quod optio, architecto et, eius veritatis voluptatibus incidunt dignissimos expedita voluptatum dolor doloremque laboriosam eum, ex quas? Debitis, sapiente?</p>
     <button>Read More</button>
</div>