.cart-top{
    position:relative;
    display:flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-bottom:10px solid rgba(244, 11, 11, 0.2);
    border-radius: .25rem;
}
.item{
    padding:20px;
    text-align: center;
    cursor: pointer;
}
.item a:hover{
    color:orange;
}

.card {
    padding: 20px;
    margin: 50px;
    width:270px;

}

.card img {
    width: 220px;
    height: 220px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}