<section > 
  <div class="container px-4 px-lg-5 my-5">
  <div class="row gx-4 gx-lg-5 align-items-center">
  <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{productDetails.productImg}}" alt="..."></div>
  <div class="col-md-6">
  <div class="small mb-1">Food-N-Fun</div>
  <h1 class="display-5 fw-bolder">{{ productDetails.name }}</h1>
  <div class="fs-5 mb-5">
  <span class="text-decoration-line-through">$45.00</span>
  <span>${{ productDetails.price}}</span>
  </div>
  <a class ="anchorTagClass" routerLink="/products/update-product/{{productDetails.id}}" style="color:green">Update Product</a> |
  <a class ="anchorTagClass" routerLink="/products/delete-product/{{productDetails.id}}" style="color:red">Delete Product</a>
  <br><br>
    <p>{{productDetails.description}}</p>
  <div class="d-flex">
  <p class="form-control text-center me-3" value="1" style="max-width: 4.5rem">{{productDetails.rating}}<i class="fa-solid fa-star"></i></p>
  </div>
  </div>
  </div>
  </div>
  </section>
