
<div class="main" >
    <div class="content">
        <h1 id="Para">535 Million <br>Order Delivered!!!<br></h1>
    <h4 id="Head"> Discover the Best food Near You......</h4>
       <a routerLink="/cart-product"><button class="ctn">Explore Now</button></a>
    </div>
</div>

<!-- featured product -->
<h1 style="text-align:center;margin-top:40px;color:rgb(53, 39, 74); font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Featured Food Items</h1>
<section id="feature" >
    <div class="fe-box">
        <img src="../assets/2.jpg" alt="">
        <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
        <img src="../assets/4.jpg" alt="">
        <h6>Online Order</h6>
    </div>
    <div class="fe-box">
        <img src="../assets/3.jpg" alt="">
        <h6>Save Money</h6>
    </div>
    <div class="fe-box">
        <img src="../assets/6.jpg" alt="">
        <h6>Fresh Pick</h6>
    </div>
    <div class="fe-box">
        <img src="../assets/1.jpg" alt="">
        <h6>Happy Sell</h6>
    </div>
    <div class="fe-box">
        <img src="../assets/8.jpg" alt="">
        <h6>24/7 Support</h6>
    </div>
</section>
<!-- banner -->
<section id="sm-banner" class="section-p">
    <div class="banner-box">    
    </div>
  </section>

<div class="container" id="section3">
    <div class="row1">
        <div class="col1" id="flex-1">
            <h1 id="shop">Feedback</h1>
            <p id="line">  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, laboriosam officia.  orem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, expedita minus.  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam molestias amet corporis similique in veritatis quisquam labore nobis! Eaque harum, earum ratione excepturi nemo non magnam aut, rerum recusandae laudantium a ipsum quasi iusto similique, blanditiis maxime reprehenderit possimus expedita nihil repudiandae? Officiis enim optio reprehenderit ipsam, quaerat laborum sed? Expedita animi deserunt magni mollitia? Facilis culpa blanditiis atque eum, expedita qu Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, commodi ab?
            </p>
        </div>
        </div> 
</div>
<!--Image Gallery Section-->
<div class="image" id="section2">
    <h1> Explore Food Gallery</h1>
    <div class="img1">
        <img id="image1" src="../assets/1.jpg" alt="" style="width:100%">
    </div>
    <div class="img1">
        <img id="image2" src="../assets/2.jpg" alt="" style="width:100%">
    </div>
    <div class="img1">
        <img id="image3" src="../assets/3.jpg" alt="" style="width:100%">
    </div>
</div>
